.signup-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray; 
  }

  .signup-box{
    width: 600px;
    padding: 20px;
    background-color: whitesmoke; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
